{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}




<section style=" " class="main-container" >

  <div class="" style="padding-top: 8px + 1vh;">
    <div class="mx-5 " style="margin: 7vmin 0;">
      <div class=" d-flex justify-content-between ">
        <h1 class=" " style="max-width: 50rem;"><i class="fs-2 bi bi-bank"></i>{{ person.username }}님의 페이지</h1>
        <a href="{% url 'accounts:update' %}" role="button" style="color: #F3F3F3; --bs-btn-padding-y: .65rem; --bs-btn-padding-x: .8rem; 
        --bs-btn-font-size: 1.2rem; margin-top:60px;" class="  btn btn-outline-secondary ">회원정보수정</a>
      </div> 
      <hr class="mx-auto " style=" ">
      {% comment %} 기본정보? {% endcomment %}
      <hr class="mx-auto " style="">
      <h3 style="margin-top: 2vh;">My Like Movies</h3>
      {% if likes|length >= 1 %}
        <div class="box mt-4">
          {% for like in likes %}
          <a class="my-auto" href="{% url 'movies:detail' like.pk %}"><img src="https://image.tmdb.org/t/p/w500{{like.poster_path}}" 
            class="card-img-top poster-img" alt="{{ like.title }}_poster"></a>
          {% endfor %}
        </div>
      {% else %}
        <br>
        <p>아직 작성된 좋아요가 없어요!</p>
        <p>영화를 보고 좋아요를 남겨 보세요 :)</p>
      {% endif %}
      <br>
      
      <hr class="mx-auto " style="">
      <h3 style="margin-top: 2vh;">My Review Movies</h3>
      {% if reviewed_movies|length >= 1 %}
        <div class="box mt-4">
          {% for idx, movie in reviewed_movies %}
          <a class="my-auto" href="{% url 'reviewboard:detail' idx %}"><img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" 
            class="card-img-top poster-img" alt="{{ movie.title }}_poster"></a>
          {% endfor %} 
        </div>
      {% else %}
        <br>
        <p>아직 작성된 리뷰가 없어요!</p>
        <p>영화를 보고 리뷰를 남겨 보세요 :)</p>
      {% endif %}
      <br>


    </div>
  </div>
</section> 

{% comment %} <div style=" "><button style="color: #F3F3F3; --bs-btn-padding-y: .3rem; --bs-btn-padding-x: .6rem; 
  --bs-btn-font-size: 1rem; " class=" mt-2 btn btn-outline-secondary ">수정</button>    </div>
<a href="{% url 'reviewboard:index' %}" role="button" style="color: #F3F3F3; --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; 
--bs-btn-font-size: .9rem;" class="ms-1 btn btn-outline-secondary ">리뷰 목록</a>  {% endcomment %}

<style>
  .text-muted {
    color: #686868!important;
    
  }
</style>


{% comment %} <div>
    <div>
      팔로워 : {{ person.followers.all|length }} / 팔로잉 : {{ person.followings.all|length }}
    </div>
    {% if user != person %}
      <div>
        <form action="{% url 'accounts:follow' person.pk %}" method="POST">
          {% csrf_token %}
          {% if user in person.followers.all %}
            <input type="submit" value="언팔로우">
          {% else %}
            <input type="submit" value="팔로우">
          {% endif %}
        </form>
      </div>
    {% endif %}
  </div>
  <hr> {% endcomment %}

  {% comment %} <h2>{{ person.username }}이 작성한 글 모음</h2>
  {% for article in person.article_set.all %}
    <p>{{ article.title }}
    <i class="fa-solid fa-heart fa-beat fa-2x"></i>
    <b> : {{ article.like_users.all|length }}</b>
    </p> 
  {% endfor %}
  <hr>

  <h2>{{ person.username }}이 작성한 댓글 모음</h2>
  {% for comment in person.comment_set.all %}
    <p>{{ comment.content }}</p>
  {% endfor %}
  <hr>

  <h2>{{ person.username }}이 좋아요를 누른 게시글</h2>
  {% for article in person.like_articles.all %}
    <p>글 번호: {{ article.pk }} 글 제목: {{ article.title }}</p>
  {% endfor %}
  
  <a href="{% url 'articles:index' %}">[back]</a> {% endcomment %}
{% endblock content %}
